<html>
  <head>
    <script>

      var dispatcher = new WebSocketRails('haskell.bcit.ca:8112/websocket'); // connect to socket
      //var channel = dispatcher.subscribe('<%= @game.name %>');
/*
      var channel = dispatcher.subscribe('channel_test');

      dispatcher.bind('receive_test', function(data) {
          console.log('channel event received: ' + data);
      });

      var message = { x:1, x1:2, y:3, y1:4 };
      dispatcher.trigger('channel_test', message);
*/

    </script>
  </head>
  <body>

    <div>

        <div id="heading"><h1>Waiting for players</h1></div>
        <div class="navigation"><%= @game.name %> | <%= link_to 'Lobby', games_path %></div>

        <div>
            <canvas id="canvas" width="500" height="400"
                    style="border:1px solid #000000;">
            </canvas>
        </div>
        <script type="text/javascript">

            var toggleMode = function(mode, item){
                if(mode == 'presenter'){
                    $('#heading').html("<h1>Draw a " + item + "</h1>");
                    $('.presenter').show();
                    $('.player').hide();
                    $('.waiting').hide();
                } else if(mode == 'player') {
                    $('#heading').html("<h1>What is it?</h1>");
                    $('.player').show();
                    $('.presenter').hide();
                    $('.waiting').hide();
                } else {
                    $('#heading').html("<h1>Waiting for players</h1>");
                    $('.waiting').show();
                    $('.presenter').hide();
                    $('.player').hide();
                }
            };
            $(document).ready(function() {
                $('#guessInput').keyup(function(event){
                    if(event.keyCode == 13){
                        draw.guess($('#guessInput').val());
                    }
                });

                draw.startDrawing($('#canvas'), dispatcher, toggleMode);
                window.onbeforeunload = function() {
                    draw.disconnect();
                };
            });
        </script>

        <div class="presenter" style="display:none">
            <input id="clearButton" type="button" onclick="draw.clear();" value="Clear">
        </div>

        <div class="player" style="display:none">
            <input id="guessInput" type="text" name="guess">
            <input class="player" id="guessButton" type="button" onclick="draw.guess($('#guessInput').val());" value="Guess">
        </div>

        <!-- <input type="button" onclick="draw.test();" value="Test"> -->

    </div>

  </body>
</html>
