<html>
  <head>
    <script>

      var dispatcher = new WebSocketRails('haskell.bcit.ca:8112/websocket'); // connect to socket
      //var channel = dispatcher.subscribe('<%= @game.name %>');

    </script>
  </head>
  <body>

    <div class="content">

        <div class="navigation">Currently In Game <%= @game.name %>
          <% if user_signed_in? %>
            as <%= current_user.username %>
          <% else %>
            Guest
          <% end %> | <%= link_to 'Lobby', games_path %>
        </div>

        <div id="title_bar">
            <span id="title">Waiting for players...</span>
            <span id="clock">60</span>
        </div>

        <div class="canvas">
            <canvas id="canvas" width="500" height="400" style="border:1px solid #000000;"></canvas>
        </div>

        <div id="interface"></div>

        <!--<div id="score"></div>-->
        <div id="messages"></div>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#guessInput').keyup(function(event){
                    if(event.keyCode == 13){
                        draw.guess($('#guessInput').val());
                    }
                });

                // interface events captured to render correct play state

                $('#interface').on('presenter', function(event, item) {
                    $('#title').html("Draw a " + item + "");
                    $('#messages').append("<div>Your turn to draw</div>");
                    $('#messages').trigger('change');
                    $('.presenter').show();
                    $('.player').hide();
                    $('.waiting').hide();
                });

                $('#interface').on('player', function() {
                    $('#title').html("What is it?");
                    $('#messages').append("<div>Your turn to guess</div>");
                    $('#messages').trigger('change');
                    $('.player').show();
                    $('.presenter').hide();
                    $('.waiting').hide();
                    $('#guessInput').focus();
                });

                $('#interface').on('waiting', function() {
                    $('#title').html("Waiting for players...");
                    $('.waiting').show();
                    $('.presenter').hide();
                    $('.player').hide();
                });

                $('#interface').on('update_time', function(event, time) {
                    if(time <= 0){
                        $('#messages').append("<div>No one got it</div>");
                        $('#messages').trigger('change');
                    }
                    $('#clock').html(time);
                });

                $('#interface').on('guess', function(event, data) {
                    if(data.correct) {
                        $('#messages').append("<div>" + data.user + " guessed it " + data.guess + "</div>");
                    } else {
                        $('#messages').append("<div>" + data.user + " guessed " + data.guess + ", nope try again</div>");
                    }
                    $('#messages').trigger('change');
                });

                $('#interface').on('update_scores', function(event, data) {
                    // work in progress
                });

                $('#interface').on('guess_reminder', function(event, data) {
                    $('#messages').append("<div>You're supposed to be guessing</div>");
                    $('#messages').trigger('change');
                });

                $('#interface').on('clear_guess', function() {
                    $('#guessInput').val('');
                });

                $('#messages').change(function (){
                    $('#messages').scrollTop($('#messages')[0].scrollHeight);
                });

                draw.startDrawing($('#canvas'), dispatcher, $('#interface'));
                window.onbeforeunload = function() {
                    draw.disconnect(); // remove from connected clients list
                };
            });
        </script>

        <div class="control_bar presenter" style="display:none">
            <div>
                <input id="clearButton" type="button" onclick="draw.clear();" value="Clear">
            </div>
        </div>

        <div class="control_bar player" style="display:none">
            <div>
                Enter your guess : <input id="guessInput" type="text" name="guess">
                <input class="player" id="guessButton" type="button" onclick="draw.guess($('#guessInput').val());" value="Guess">
            </div>
        </div>
    </div>

  </body>
</html>
