<html>
  <head>
    <script>

      var dispatcher = new WebSocketRails('haskell.bcit.ca:8112/websocket'); // connect to socket
      //var channel = dispatcher.subscribe('<%= @game.name %>');
/*
      var channel = dispatcher.subscribe('channel_test');

      dispatcher.bind('receive_test', function(data) {
          console.log('channel event received: ' + data);
      });

      var message = { x:1, x1:2, y:3, y1:4 };
      dispatcher.trigger('channel_test', message);
*/

    </script>
  </head>
  <body>
    <div>
        <canvas id="canvas" width="500" height="400"
                style="border:1px solid #000000;">
        </canvas>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            draw.startDrawing($('#canvas'), dispatcher);
        });
    </script>
    <div><%= @game.name %> <%= link_to 'Back', games_path %></div>
    <input type="button" onclick="draw.clear();" value="Clear">
    <input type="button" onclick="draw.test();" value="Test">

  </body>
</html>
