<html>
  <head>
    <script>

      var dispatcher = new WebSocketRails('haskell.bcit.ca:8112/websocket'); // connect to socket
      //var channel = dispatcher.subscribe('<%= @game.name %>');
/*
      var channel = dispatcher.subscribe('channel_test');

      dispatcher.bind('receive_test', function(data) {
          console.log('channel event received: ' + data);
      });

      var message = { x:1, x1:2, y:3, y1:4 };
      dispatcher.trigger('channel_test', message);
*/

    </script>
  </head>
  <body>

    <div class="content">

        <div class="navigation">Currently In Game <%= @game.name %>
          <% if user_signed_in? %>
            as <%= current_user.username %>
          <% else %>
            Guest
          <% end %> | <%= link_to 'Lobby', games_path %>
        </div>

        <div id="title_bar">
            <span id="title">Waiting for players...</span>
            <span id="clock">60</span>
        </div>

        <div class="canvas">
            <canvas id="canvas" width="500" height="400" style="border:1px solid #000000;"></canvas>
        </div>

        <div id="interface"></div>

        <div id="messages">

        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#guessInput').keyup(function(event){
                    if(event.keyCode == 13){
                        draw.guess($('#guessInput').val());
                    }
                });

                // interface events captured to render correct play state
                $('#interface').on('presenter', function(event, item) {
                    $('#title').html("Draw a " + item + "");
                    $('#messages').append("<div>Your turn to draw!</div>");
                    $('.presenter').show();
                    $('.player').hide();
                    $('.waiting').hide();
                });

                $('#interface').on('player', function() {
                    $('#title').html("What is it?");
                    $('.player').show();
                    $('.presenter').hide();
                    $('.waiting').hide();
                });

                $('#interface').on('waiting', function() {
                    $('#title').html("Waiting for players...");
                    $('.waiting').show();
                    $('.presenter').hide();
                    $('.player').hide();
                });

                $('#interface').on('update_time', function(event, time) {
                    $('#clock').html(time);
                });

                draw.startDrawing($('#canvas'), dispatcher, $('#interface'));
                window.onbeforeunload = function() {
                    draw.disconnect();
                };
            });
        </script>

        <div class="control_bar presenter" style="display:none">
            <div>
                <input id="clearButton" type="button" onclick="draw.clear();" value="Clear">
            </div>
        </div>

        <div class="control_bar player" style="display:none">
            <div>
                Enter your guess : <input id="guessInput" type="text" name="guess">
                <input class="player" id="guessButton" type="button" onclick="draw.guess($('#guessInput').val());" value="Guess">
            </div>
        </div>
    </div>

  </body>
</html>
